{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center;">Register</h2>
<form method="post" class="form">
  <label>Name</label><input name="name" placeholder="Your Full Name" required>
  <label>Email</label><input name="email" placeholder="example@gmail.com" type="email" required>
  <label>Password</label><input name="password" type="password" placeholder="********" maxlength="8"" required>
  <button class="btn" type="submit" style="width:100%; margin-top:16px;">SIGN UP</button>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
{% endblock %}
